@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    background-color: rgb(85, 81, 85);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #483a64;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
    visibility: visible;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(174, 120, 185);
    font-size: 1.3rem;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: rgb(174, 120, 185);
}
.menu-icon {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

main hr {
    border: 0;
    background: #8682d3;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 2.5rem;
    margin: 20px;
    padding-right: 30%;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 140px 0;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
    margin: 70px 0;
    color: white;
}

.rightSection div {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.rightSection img {
    margin-right: -190px;
}

.purple {
    color: rgb(176, 134, 212);
}

#element {
    color: rgb(170, 107, 220);
}

/* About Section */
#about {
    padding: 80px 0;
    color: #ffffff;
    font-size: medium;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 30%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 22px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.tab-titles {
    display: flex;
    margin: 20px 0 27px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3a0516;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link {
    width: 50%;
}

.tab-contents {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 18px;
}

/* Services Section */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 105%;
    border-radius: 10px;
    display: block;
    transition: transform(0.5s);
}

.layer {
    background: linear-gradient(0deg, rgb(216, 19, 52), transparent 500px);
    width: 85%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* Contact Section */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 86%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 17px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: red;
}

nav .fas {
    display: none;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .firstSection {
        flex-direction: column;
        align-items: center;
        margin: 80px 20px;
    }

    .left, .right {
        font-size: 1.8rem;
    }

    .services-list div h2 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #483a64;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .sub-title {
        font-size: 40px;
    }

    .services-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .btn {
        padding: 10px 30px;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 480px) {
    .firstSection {
        margin: 60px 10px;
    }

}